<!-- <p>add-user works!</p> -->
<mat-card>
    <mat-card-title>Create New User</mat-card-title>

    <mat-card-content>
        <form [formGroup]='addUserForm' (submit)="createUser()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="Email Address" formControlName="email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="Phone Number" formControlName="phone">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>

                </mat-form-field>
            </p>

            <p>
                <button mat-raised-button color="primary" mat-stroked-button (click)="openSnackBar(this.addUserForm.value)">Create User</button>
                <!-- <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button> -->
            </p>
        </form>
    </mat-card-content>

</mat-card>